body {
  display: flex;
  background-color: #1A1A1A;
  overflow: hidden;
}

input[type = "button"], a {
  transition: opacity .1s ease-in-out;
}

.sidebar {
  position: fixed;
  left: -500px;
  width: 256px;
  height: 100%;
  transition: .3s;
}

.hamburger, .bar {
  position: fixed;
}

.hamburger {
  border: 0;
  background: 0 0;
  /* display: none; */
  margin: 12px 0px 12px 8px;
}

#menu_icon {
  width: 32px;
  height: 32px;
}

.sidebar.active {
  left: 0;  
}

.hamburger.open {
  display: none;
}

.close_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

#close_icon {
  filter: invert(1);
  width: 32px;
  height: 32px;
}

aside {
  background-color: #1A1A1A;
  height: 100vh;
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16px;
  gap: 16px;
  /* display: none; */
}

aside p, h1 {
  color: #ffffff;
}

aside .logo_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0px 0px 0px;
}

aside .logo_cta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

aside .logo_section > .logo_cta > .sidebar_logo {
  width: 132px;
  flex-shrink: 0;
}

aside > .logo_section h1 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.8px;
}


aside > .divider {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.07);
}

aside > .aside_navigations {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aside_navigations > .new_chat_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #3C38FF; 
  width: 132px;
  height: 40px;
  padding: 0px 20px; 
  gap: 12px;
}

.aside_navigations > .new_chat_btn > img {
  width: 14px;
  height: 14px;
}

.aside_navigations > .new_chat_btn > input {
  background: none;
  border: none;
  color: #FFF;
  font-weight: 700;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  line-height: 40px;
}

.aside_navigations > .nav_links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aside_navigations > .nav_links > li .nav_link_items {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: rgb(226, 226, 226, 0.0);
  transition: background-color .2s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}

.nav_link_items > p {
  font-family: Poppins;
  color: rgba(255, 255, 255, 0.80);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.main_content_border {
  flex: 1;  
}

/* main section */
main {
  height: 100%;
  background: #f6f6f6;
  overflow: hidden;
  padding: 0px 12px;
}

main > .homepage_scroll {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  padding: 40px 0px;
  overflow-y: auto;
}

main > .homepage_scroll > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: fit-content;
  /* background-color: #9bc2ff; */
}


/* Header Section */

main > .homepage_scroll > div > .header_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px;
  /* background-color: #5653FF; */
}

main > .homepage_scroll > div > .header_section > .head_divider {
  display: flex;
  width: 4px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.88);
  flex-direction: column;
  justify-content: center;
  display: none;
}

main > .homepage_scroll > div > .header_section > .logo {
  width: 182px;
}

main > .homepage_scroll > div >.header_section > .logo > h1 {
  color: rgba(0, 0, 0, 0.88);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: -1.28px;
}

main > .homepage_scroll > div > .header_section > p {
  color: rgba(0, 0, 0, 0.88);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.28px;
}


/* chat with document */

.chat_with_doc_section {
  width: 100%;
  height: 100%;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chat_with_doc_section > .content_holder {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}

.chat_with_doc_section > .content_holder > .file_upload {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06), 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
}

.file_upload > .drop_box {
  border-radius: 4px;
  border: 1px dashed rgba(0, 0, 0, 0.12);
  background: rgba(60, 56, 255, 0.05);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.file_upload > .drop_box > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.file_upload > .drop_box > div > .description {
  color: rgba(0, 0, 0, 0.88);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.24px;
}

.file_upload > .drop_box > .file_upload_cta {
  background: #3C38FF; 
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 18px 8px 18px;
  border: none;
}


/* content block 1 */

main .content_block_1 {
  width: 100%;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background-color: #fcbcda; */
}

main .content_block_headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

main .content_block_title {
  color: rgba(0, 0, 0, 0.88);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  line-height: 16px;
  letter-spacing: -0.32px;
  text-overflow: ellipsis;
  overflow: hidden;
}

main .content_block_headers > .content_block_cta {
  color: rgba(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  width: 200px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content_block_1 > .content_holder {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}

main .content_holder > .card_item {
  display: flex;
  padding: 24px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: linear-gradient(to left, #fed4b7, #ffc5c2, #fcbcda, #d8bcf4, #9bc2ff);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06), 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.content_holder > #card_item_bg_img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content_holder > .card_item > .card_title {
  color: rgba(0, 0, 0, 0.70);
  font-family: Poppins;
  width: fit-content;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}


.content_holder > .card_item > .card_cta {
  padding: 8px 12px;
  border-radius: 16px;
  border: none;
  background: linear-gradient(263deg, #8163F0 25.38%, rgba(120, 102, 238, 0.90) 36.65%, rgba(67, 63, 253, 0.76) 63.23%, #5653FF 82.38%);
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}


/* content block 2 */

main .content_block_2 {
  width: 100%;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background-color: aquamarine; */
}

.content_holder_2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  padding: 0px 48px;
}

.content_holder_2 > .card_item_2 {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 32px 16px;
  justify-content: flex-start;
  gap: 12px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 2px 3px rgba(0,0,0,.04), 0 4px 12px rgba(0,0,0,.06);
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
}

.content_holder_2 > .card_item_2 > .card_img_cont {
  background: #fff1c0;
  width: 100%;
  height: 112px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
}

.card_item_2 > .card_img_cont > .card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content_holder_2 > .card_item_2 > .card_title {
  color: rgba(0, 0, 0, 0.88);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.content_holder_2 > .card_item_2 > .card_subtitle {
  color: rgba(0, 0, 0, 0.88);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}